<!DOCTYPE html>
<html>

<head>
	<title>Baptiste JAN - Curriculum Vitae</title>

	<meta name="viewport" content="width=device-width" />
	<meta name="description" content="The Curriculum Vitae of Baptiste JAN." />
	<meta charset="UTF-8">

	<link type="text/css" rel="stylesheet" href="../assets/css/menu.css">
	<link type="text/css" rel="stylesheet" href="../assets/css/styles.css">
	<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>
</head>

<body>
	<div id="cv">
		<div class="mainDetails">
			<div id="mainDetails">
				<ul>
					<li>
						<h1>Baptiste JAN</h1>
					</li>
					<li>
						<h2>Développeur Web Junior</h2>
					</li>
				</ul>
			</div>

			<div id="contactDetails">
				<ul>
					<li>Mail: <a href="mailto:baptistejan@outlook.fr" target="_blank">baptistejan@outlook.fr</a></li>
					<li>Tel: 06 51 53 60 16</li>
				</ul>
			</div>
		</div>
		<div id="menu"></div>




		<div id="mainArea">
			<div id="menu2" class="menu2">
				<a href="#" class="menu__link2 r-link" id="formation_Link">Formations</a>
				<a href="#" class="menu__link2 r-link" id="experiencePro_Link">Expériences
					Professionnelles</a>
			</div>
			<section id="formationContent">
				<div class="sectionTitle"></div>
				<article>
					<div class="sectionContent" >
						<h2>Formation :</h2>
						</br>
						<h3></h3>
						</br>
						<h3></h3>
						</br>
					</div>
					<div class="clear"></div>
				</article>
			</section>

			<section id="experienceProContent">
				<div class="sectionTitle">
				</div>
				<article>
					<div class="sectionContent" >
						<h2>Experience Pro :</h2>
						</br>
						<h3></h3>
						</br>
						<h3></h3>
						</br>
					</div>
					<div class="clear"></div>
				</article>
			</section>
		</div>
	</div>
	<script src="../assets/js/main.js"></script>
	<script src="../assets/js/menu.js"></script>
</body>

</html>