<!DOCTYPE html>
<html>

<head>
	<title>Baptiste JAN - Curriculum Vitae</title>

	<meta name="viewport" content="width=device-width" />
	<meta name="description" content="The Curriculum Vitae of Baptiste JAN." />
	<meta charset="UTF-8">

	<link type="text/css" rel="stylesheet" href="../assets/css/menu.css">
	<link type="text/css" rel="stylesheet" href="../assets/css/styles.css">
	<link href='https://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>
</head>

<body>
	<div id="cv">
		<div class="mainDetails">
			<div id="mainDetails">
				<ul>
					<li>
						<h1>Baptiste JAN</h1>
					</li>
					<li>
						<h2>Développeur Web Junior</h2>
					</li>
				</ul>
			</div>

			<div id="contactDetails">
				<ul>
					<li>Mail: <a href="mailto:baptistejan@outlook.fr" target="_blank">baptistejan@outlook.fr</a></li>
					<li>Tel: 06 51 53 60 16</li>
				</ul>
			</div>
		</div>
		<div id="menu"></div>

		<div id="mainArea" class="quickFade delayFive">
			<section>
				<div class="sectionTitle">
					<img src="../assets/png/baptiste.png" alt="Baptiste" class="image_SectionTitle">
				</div>
				<article>
					<div class="sectionContent">
						<h2>Présentation :</h2>
						</br>
						<h3>Diplômé du BTS Services Informatiques aux Organisations option Solutions Logicielles et
							Applications Métiers et inscrit chez OpenClassrooms en formation de Développeur
							d’application JavaScript React, je cherche actuellement une alternance !</h3>
						</br>
						<h3>Je suis passionné par les nouvelles technologies et l’algorithmie. J’aime résoudre les
							problèmes (psychologiques comme informatiques !) et aime chercher des solutions de manière
							autonome, mais je suis aussi capable de faire preuve de travail d’équipe pour avancer plus
							efficacement.</h3>
						</br>
					</div>
					<div class="clear"></div>
				</article>
			</section>
		</div>
	</div>
	<script src="../assets/js/menu.js"></script>
</body>

</html>