<div id="mainArea">
    <div id="menu2" class="menu2">
        <a href="#" class="menu__link2 r-link" id="formation_Link">Formations</a>
        <a href="#" class="menu__link2 r-link" id="experiencePro_Link">Expériences Professionnelles</a>
    </div>

    <section id="formationContent"> <!--Contenu de "Formation"-->
        <article class="article_ImageTitle">
            <div class="image_article_ImageTitle">
                <img src="../assets/png/formation.png" alt="formation.png">
            </div>
            <div class="title_article_ImageTitle">
                <h1>Formations :</h1>
            </div>
        </article>
        <article class="article_Content">
            <div id="FormationTableDate" class="image_article_Content"></div>
            <ul id="FormationTable">
                <!--Contenu dans ../assets/js/content.js. Voir FormationClass et formationTable-->
            </ul>
        </article>
        <div class="clear"></div>
    </section>

    <section id="experienceProContent">
        <div class="sectionImage">
            <img src="../assets/png/experienceProDev.png" alt="formation.png" class="image_ArticleTitle">
        </div>
        <article>
            <div class="sectionTitle">
                <h1>Experience Pro :</h1>
                </br>
                <h3></h3>
                </br>
                <h3></h3>
                </br>
            </div>
            <div class="clear"></div>
        </article>
    </section>
</div>